extends layout

block append head 
  link(rel='stylesheet', href='/stylesheets/homepage.css')

block content  
  each product in products 
    div.productitem
    div id:#{product.id}
      div name:#{product.name}
      div price: #{product.price}
      div category : #{product.category}
      div image : #{product.image}
      div posted_by : #{product.posted_by}
      div color:
        each color in product.color
          div #{color}
      div size:
        each size in product.size
          div #{size}
