block content
  h1= title
  p Welcome to #{title}
  each product in products 
    div.productitem
    div id:#{product.id}
      div name:#{product.name}
      div price: #{product.price}
      div category : #{product.category}
      div image : #{product.image}
      div posted_by : #{product.posted_by}
      div color:
        each color in product.color
          div #{color}
      div size:
        each size in product.size
          div #{size}
      //- a(href="/book/delete/" + book._id,class='btn btn-danger') Delete
      //- a(href="/book/edit/" + book._id,class='btn btn-primary') Edit