extends layout 

block append head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")

    link(rel='stylesheet' href='/stylesheets/order_history.css')
    link(rel='stylesheet' href='/stylesheets/main.css')

block content
    .main-container
        .sidebar-container
            h2 Account Details
            //- div Type : #{user.type}
            div Name : #{user.name}
            div Email : #{user.email}
            //- #{user.phoneNumber}
            if user.name == "Admin"
                a(href="/admin/product/create" class='button-add') Add Product
        
        .orderhistory-container
            h2=title
            .orderitem-view
                each order in orders
                    .orderitem-container
                        div #{order.order_date}
                        .orderitem-section
                            each orderitem in order.order_items
                                .orderitem-row
                                    image.orderitem-image(src=orderitem.product_img[0])
                                    .orderitem-info
                                        .orderitem__title
                                            div #{orderitem.product_name}
                                            div $#{orderitem.price_per_unit}
                                        .orderitem__selections  
                                            div.selection Size:
                                                span.selection  #{orderitem.size}
                                            div.selection Color:
                                                span.selection  #{orderitem.color}
                                            div Quantity: 
                                                span.selection  #{orderitem.quantity}

