extends layout

block append head 
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")

  link(rel='stylesheet' href='/stylesheets/shopping_cart.css')
  link(rel='stylesheet' href='/stylesheets/main.css')

block content
  .main-container
    .summary-container 
      h2= title
      .summary-section 
        each orderitem, index in orderitems 
          .orderitem-container
            .orderitem-section
              image.orderitem-image(src=orderitem.product_img[0])
              .orderitem-info
                .orderitem__header
                  div.orderitem__title #{orderitem.product_name}
                  div.orderitem__price $#{orderitem.price_per_unit}
                .orderitem__selections
                  div.selection Size: 
                    span.selection #{orderitem.size}
                  div.selection Color: 
                    span.selection #{orderitem.color}
                  div.selection Quantity: 
                    span.selection #{orderitem.quantity}
                  div
                  div
                .orderitem__buttons
                  a(href="/orderitem/delete/" + orderitem._id class='button-delete') Delete
                  a(href="/orderitem/edit/" + orderitem._id,class='button-edit') Edit
        else 
          div.orderitem__title There are no items. 
        
    if orderitems.length
      .paymentdetails-container 
        h2 Payment Details
        .paymentdetails__section 
            form(method="POST", action="/cart")
              div.payment-title  Card Details
              .paymentdetails__form 
                .form-group 
                  label.label(for='card') Card Holder 
                  input.text-input(type='text', placeholder="00000-00000-00000" name='card')
                  .side-by-side 
                    div.form
                      label.label(for='date') MM/YY  
                      input.text-input(type='text', placeholder="10/22" name='date')
                    div.form
                      label.label(for='cvc') CVC 
                      input.text-input(type='text', placeholder="123" name='cvc')
              div.payment-title  Billing Address
              .paymentdetails__form 
                .form-group 
                  label.label(for='street') Street Address 
                  input.text-input(type='text', placeholder="Street Address" name='street')
                  .side-by-side 
                    div.form
                      label.label(for='city') City
                      input.text-input(type='text', placeholder="City Name" name='city')
                    div.form
                      label.label(for='postcode') Postal Code 
                      input.text-input(type='text', placeholder="Postal Code" name='postcode')

              div.total__container
                .total_item
                  div.title Sub Total
                  div.amount $#{subtotal}
                .total_item
                  div.title Shipping
                  div.amount FREE   
                .total_item
                  div.title Total
                  div.amount $#{total}

              .button-container
                button.button(type="submit", value="proceed to checkout") Proceed to Checkout

