extends layout 

block append head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    link(rel='stylesheet' href='/stylesheets/product_form.css')
    link(rel='stylesheet' href='/stylesheets/main.css')

block content 
  .main-container
    .form-container
      h1= title
      form(method='POST', action='')
        div.form-group 
          label(for='name') Name:
          if product
            input#name.form-control(
              type='text',
              value=product.name
              name='name'
              required='true')
          else
            input#name.form-control(
              type='text',
              placeholder='Name of product'
              name='name'
              required='true')

        div.form-group 
          label(for='category') Category:
          select#category.form-control(
            type='select',
            placeholder='Select Category'
            name='category'
            required='true')
            - var categories = ['Tops', 'Bottoms', 'Shoes']
            for category in categories
              if product
                option(
                  value=category
                  selected=(product.category)
                ) #{category}
              else 
                option(
                  value=category
                ) #{category}
        div.form-group
          label(for='price') Price:
          if product
            input#price.form-control(
              type='number'
              name='price'
              required='true'
              value=product.price
            )
          else
            input#price.form-control(
              type='number'
              name='price'
              required='true'
            )
        div.form-group
          label(for='sizes') Size Options:
          - var sizes = ['xSmall', 'Small', 'Medium', 'Large', 'xLarge']
          div.group(style='display:flex;')
              if product 
                  for size in product.size 
                    div(style='flex-grow:1')
                      input.checkbox-input(type='checkbox', name=size, id=size checked)
                      label(for=size) #{size}
              else 
                for size in sizes 
                  div(style='flex-grow:1')
                    input.checkbox-input(type='checkbox', name=size, id=size, )
                    label(for=size) #{size}
        div.form-group
          label(for='colors') Color Options (Seperated by commas)
          if product
            input#colors.form-control(
              type='text'
              name='colors'
              required='true'
              value=(product.color).toString()
            )
          else
            input#colors.form-control(
              type='text'
              name='colors'
              required='true'
            )
        div.form-group
          ir 
          if !product
            label(for='image') Image URL 
            input#colors.form-control(
              type='text'
              name='image'
              required='true'
            )
        button.btn.btn-primary(type='submit') Add Product
        
    .sidebar-container 
      if errors
        ul
          for error in errors
            li!= error.msg