extends layout

block append head 
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
  link(rel='stylesheet' href='/stylesheets/register_form.css')
  link(rel='stylesheet' href='/stylesheets/main.css')


block content

   div.main-container
      .register-container
            h2.signup_title Sign Up
            form(method="POST", action="/users/register")

               div.form-group
                  div.form-label(for="name") Enter Name:
                  input#name.form-control(name="name", type="text" placeholder="Enter your name")
                  if errors
                     each error in errors
                        if error.param == 'name'
                           div.errorMessage(style="color:red") #{error.msg}
               div.form-group
                  div.form-label(for="email") Please Enter Email Address:
                  input#email.form-control(name="email", type="text" placeholder="e.g. example@gmail.com")
                  if errors
                     each error in errors
                        if error.param == 'email'
                           span(style="color:red") #{error.msg}
               div.form-group
                  div.form-label(for="password") Please Enter Password:
                  input#password.form-control(name="password", type="password")
                  if errors
                     each error in errors
                        if error.param == 'password'
                           span(style="color:red") #{error.msg}
               div.form-group
                  div.form-label(for="passwordConfirm") Please Confirm Password:
                  input#passwordConfirm.form-control(name="passwordConfirm", type="password")
                  if errors
                     each error in errors
                        if error.param == 'passwordConfirm  '
                           span(style="color:red") #{error.msg}


               .button-container
                  button.button(type="submit", value="register") Sign Up
      .picture-container



//- block content
//-   h1 Register User
//-   if errors
//-     each error in errors
//-       p(style="color:red") #{error.msg}
//-   form(method="POST", action="/register")
//-     #form-group-name.form-group
//-       label(for="name") Name
//-       input#name.input-control(name="name", type="text")
//-     #form-group-email.form-group
//-        label(for="email") Email
//-        input#email.input-control(name="email", type="text")
//-     #form-group-password.form-group
//-        label(for="password") Password
//-        input#password.input-control(name="password", type="password")
//-     #form-group-passwordConfirm.form-group
//-        label(for="passwordConfirm") Password Confirm
//-        input#passwordConfirm.input-control(name="passwordConfirm", type="password")
//-     #form-group-submit.form-group
//-        input.btn.btn-primary.input-control(type="submit")


