block content
  h1= title
  p Welcome to #{title}

  form(method="POST", action="/cart")
    each orderitem in orderitems 
        div id:#{orderitem.product_id}
        div name:#{orderitem.product_name}
        div size: #{orderitem.size}
        div color : #{orderitem.color}
        div quantity : #{orderitem.quantity}
        div order_confirm : #{orderitem.order_confirm}
        div product_img : #{orderitem.product_img}
        div price_per_unit: #{orderitem.price_per_unit}
        a(href="" + orderitem.product_id,class='btn btn-danger') Delete
        a(href="" + orderitem.product_id,class='btn btn-primary') Edit
    input(type="submit", value="proceed to checkout")
    
      